<!--intro video -->
<section style="padding-top:5%; text-align:center;">


    <video class="intro-video" controls preload="auto" poster="assets/images/career_cover-2.png" data-setup="{}">
    <source src="assets/images/hiring_video_openebs.mp4" type='video/mp4'>
  </video>

</section>
<!--environment at openEBS-->
<section class="pd-b-5 pd-t-5 p">
    <div class="ebs_env" style="background-color:#e8e8e8; text-align:center;">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-3 fea-card m-4"> <img src="assets/images/create.svg" alt="Generic placeholder image" width="70" height="70">
                    <h2>Create</h2>
                    <p>We build the best experiences for our community</p>
                </div>
                <!-- GO-->
                <div class="col-md-3 fea-card m-4"> <img src="assets/images/learn.svg" alt="Generic placeholder image" width="70" height="70">
                    <h2>Learn</h2>
                    <p>We help you be the best in what you do</p>
                </div>
                <div class="col-md-3 fea-card m-4"> <img src="assets/images/play.svg" alt="Generic placeholder image" width="70" height="70">
                    <h2>Play</h2>
                    <p>We ensure that you enjoy your work by creating a pleasant work culture</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--open position-->
<div class="p-5">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <h1 style="font-size:24px; text-align:center; color:#ee5a2b;">Open positions in Bangalore</h1>
        </div>
    </div>
</div>
<section style="padding:0 10% 0 10%;">
    <!--card view of jobs-->
    <div class="row">
        <div class="col-md-6 pt-4 no-deco">
            <a href="/careers/1" target="_blank">
                <div class="card" style="border-left: solid #ee5a2b;">
                    <div class="card-block p-4 middle-position" style="color:#66637a;">
                        <h4 class="card-title">Python/Go engineer</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Experience: 3 - 5 year</h6>
                        <p class="card-text">Bangalore</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6 pt-4 no-deco">
            <a href="/careers/2" target="_blank">
                <div class="card" style="border-left: solid #ee5a2b;">
                    <div class="card-block p-4 middle-position" style="color:#66637a;">
                        <h4 class="card-title">UI / Javascript Engineer</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Experience: 3 - 5 year</h6>
                        <p class="card-text">Bangalore</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="drop-line">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="drop-mail">
                    <h3>Excited to work with us... but don't see your position listed?</h3>
                    <p class="text-muted">Let us know how you stand out from the crowd</p>
                    <a href="mailto:jobs@openebs.io" class="btn btn-primary btn-ebs-sm">DROP US A LINE</a>
                </div>
            </div>
        </div>
    </div>
</section>