<!--cafe-hero-->
<section class="hero1 desktop-view desktopv">
  <img class="" src="assets/images/icons/Opensourcecafe-des.svg" alt="Desktop-Mule" title="Mule">
  <div class="margin-0-auto" style="text-align:center">
  
      <a href="" class="btn btn-ebs-sm hero-btn" id="hero-bttn" name="hero-bttn" value="#coming-soon-section">Become A Member</a>
    </div>
  
</section>
<section class="hero1 mobile-view mobview">
  <img class="" src="assets/images/icons/OpenSourcecafe-mobile.svg" alt="Mobile-Mule" title="Mule">
  <div class="margin-0-auto" style="text-align:center">
    <a href="#coming-soon-section" class="btn btn-ebs-sm hero-btn" id="hero-bttn" name="hero-bttn" value="#coming-soon-section">Become A Member</a>
  </div>
</section>
<!--Benefits section-->
<section class="menu-section" style="margin-top:0%;">
  <div class="desktop-view desktopv">
    <img src="assets/images/icons/menu.svg"> </div>
  <div class="mobile-view mobview">
    <img src="assets/images/icons/menu-mob.svg"> </div>
</section>
<!--Coming soon section-->
<section class="coming-soon-section" id="coming-soon-section">
  <div class="container">
    <div class="row" style="align-items: center;">
      <div class="col-md-5 meet-icon">
        <img src="assets/images/icons/ebscafe-meet.svg"> </div>
      <div class="col-md-7 soon-text">
        <h2 style="color:#62b2b2;">Become a member</h2>
        <h3>Be the first to know when we launch.</h3>
        <br>
        <!-- <div id=frm-area>
                          <form id="soon-frm" class="form-inline" method="post" action="">
                              <div class="form-group mr-3 soon-frm">
                                  <input type="email" class="form-control" placeholder="Enter your email address" id="email_txt" name="email_txt" required> </div>
                              <button type="submit" class="btn btn-ebs-sm" name="join-bttn" id="join-bttn" style="background-color:#62b2b2;"> Let me know</button>
                              <br>
                              
<script>
      $('#soon-frm').hide();
      $('#frm-area').append("<p style=color:#62b2b2;>Thanks for registering.</p>");
      event.preventDefault();
</script>

                          </form>


                      </div> -->
        <button type="button" class="btn btn-md mailto" style="text-decoration:none;">
          <a href="mailto:niti.suryawanshi@openebs.io" style="color:#ff8c58">Email us</a>
        </button>
      </div>
    </div>
  </div>
</section>
<!--Main 101 courses-->
<section class="course-section">
  <div class="desktop-view desktopv" style="margin:5% 0% 0 0%;">
    <img src="assets/images/icons/course-desktop.svg" width="100%" height="auto"> </div>
  <div class="mobile-view mobview">
    <img src="assets/images/icons/course-mob.svg"> </div>
</section>
