<!-- to remove please -->
<style>
    .user-quotes .carousel-item {
        height: 150px;
    }
    
    @media screen and (max-width:556px) {
        .user-quotes .carousel-item {
            height: 200px;
        }
    }
    @media screen and (max-width:500px) {
        .user-quotes .carousel-item {
            height: 230px;
        }
    }
    
    @media screen and (max-width:400px) {
        .user-quotes .carousel-item {
            height: 240px;
        }
    }
</style>
<!-- -->

<!--hero section openebs start -->
<div class="hero" style="">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">

                <h1 class="pd-t-b-heading2 font-weight-normal">Containerized Storage for Containers</h1>
                <p class="p1" style="color:#fff;">OpenEBS is an open source storage platform that provides persistent and containerized
                    <br class="desktop"> block storage for DevOps and container environments.</p>
                <!-- <div>
                    <p> <span style="background-color:#e7e7e7;"><i class="fa fa-github" aria-hidden="true"></i>Star</span> <span id="total" style="background-color:red"></span></p>
                </div> -->
                <div class="pd-t-b-heading2">
                    <a class="github-button" href="https://github.com/openebs/openebs" data-icon="large" data-show-count="true" aria-label="Star openebs/openebs on GitHub">Star</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--hero section openebs end -->
<!-- workload start here -->


<app-workloads></app-workloads>

<!-- workload end here -->
<!-- what is openebs start -->
<div class="pd-t-b-heading1">
    <div class="what-openebs pd-t-b-heading2">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">What is OpenEBS?</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="openebs-point pd-t-b-heading2">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-12 col-md-5 pb-b-2 pb-b-2-mb d-flex ">
                    <div class="circle-text">
                        <span>1</span>
                    </div>
                    <p class="points p2">OpenEBS is the most active Cloud Native Containerized Storage project</p>
                </div>
                <div class="col-12 col-md-5 pb-b-2 d-flex ">
                    <div class="circle-text" style="">
                        <span>2</span>
                    </div>
                    <p class="points p2">OpenEBS enables your DevOps teams to have their own storage policies for workloads</p>
                </div>
                <div class="col-12 col-md-5  pb-b-2-mb d-flex">
                    <div class="circle-text">
                        <span>3</span>
                    </div>
                    <p class="points p2">OpenEBS is not Yet Another Scale-out Storage System (!YASSS)</p>
                </div>
                <div class="col-12 col-md-5  pb-b-2-mb d-flex ">
                    <div class="circle-text">
                        <span>4</span>
                    </div>
                    <p class="points p2">OpenEBS is tightly integrated with Kubernetes and is a part of Kubernetes-Incubator project</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- what is openebs end -->
<!--Feature section start -->
<div class="feature-heading pd-t-b-heading2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center">Features</h3>
            </div>
        </div>
    </div>
</div>
<div class="all-feature pd-t-b-all desktop">
    <div class="container">
        <div class="row text-center">
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/ContainerizedStorageforContainers.svg" alt="">
                    <p class="pd-t-b-02 w-90 p2">Containerized Storage for Containers</p>
                    <p class=" w-90 p3">Your storage controller is a container that follows around your workloads, very different than Yet Another Scale out Storage System (“!YASSS”)</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/PrometheusmetricsGrafanagraphs.svg" alt="">
                    <p class="pd-t-b-02 w-90 p2">Prometheus metrics and Grafana graphs</p>
                    <p class=" w-90 p3">Granular monitoring through Prometheus and Grafana</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/ImprovesEBSothercloudstorage.svg" alt="">
                    <p class="pd-t-b-02 w-90 p2">Improves EBS & other cloud storage</p>
                    <p class=" w-90 p3">Runs on top of EBS to improve resiliency, to limit lock-in, and for better integration with Kubernetes</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/GranularControl.svg" alt="">
                    <p class="pd-t-b-02 w-90 p2">Granular Control</p>
                    <p class=" w-90 p3">Each workload and hence, each team working on dynamic container based workloads has their own storage, instead of being managed by central storage</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/writtengo.svg " alt="">
                    <p class="pd-t-b-02 w-90 p2">Written in GO</p>
                    <p class=" w-90 p3">OpenEBS is the only broadly adopted open source block storage written mostly in Go</p>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class="feature">
                    <img src="assets/images/Avoidcloudlock-in.svg" alt="">
                    <p class="pd-t-b-02 w-90 p2">Avoid cloud lock-in</p>
                    <p class=" w-90 p3">When you write your data to OpenEBS you write to an open source, highly flexible data management layer that allows you to manage your exposure to each cloud or data center</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="all-feature mobile text-center pd-t-b-heading1">
    <div class="container">
        <div class="row">
            <div id="featureid" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height:auto">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <div class="feature">
                                        <img src="assets/images/ContainerizedStorageforContainers.svg" alt="">
                                        <p class="pd-t-b-02 w-90 p2">Containerized Storage for Containers</p>
                                        <p class=" w-90 p3">Your storage controller is a container that follows around your workloads, very different than Yet Another Scale out Storage System (“!YASSS”)</p>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4">
                                    <div class="feature">
                                        <img src="assets/images/PrometheusmetricsGrafanagraphs.svg" alt="">
                                        <p class="pd-t-b-02 w-90 p2">Prometheus metrics and Grafana graphs</p>
                                        <p class=" w-90 p3">Granular monitoring through Prometheus and Grafana</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="height:auto">
                        <div class="col-12 col-md-4">
                            <div class="feature">
                                <img src="assets/images/ImprovesEBSothercloudstorage.svg" alt="">
                                <p class="pd-t-b-02 w-90 p2">Improves EBS & other cloud storage</p>
                                <p class=" w-90 p3">Runs on top of EBS-to improve resiliency, to limit lock-in, and for better integration with Kubernetes</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="feature">
                                <img src="assets/images/GranularControl.svg" alt="">
                                <p class="pd-t-b-02 w-90 p2">Granular Control</p>
                                <p class=" w-90 p3">Each workload and hence, each team working on dynamic container based workloads has their own storage, instead of being managed by central storage</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" style="height:auto">
                        <div class="col-12 col-md-4">
                            <div class="feature">
                                <img src="assets/images/writtengo.svg " alt="">
                                <p class="pd-t-b-02 w-90 p2">Written in GO</p>
                                <p class=" w-90 p3">OpenEBS is the only broadly adopted open source block storage written mostly in Go</p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <div class="feature">
                                <img src="assets/images/Avoidcloudlock-in.svg" alt="">
                                <p class="pd-t-b-02 w-90 p2">Avoid cloud lock-in</p>
                                <p class=" w-90 p3">When you write your data to OpenEBS you write to an open source, highly flexible data management layer that allows you to manage your exposure to each cloud or data center</p>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#featureid" role="button" data-slide="prev">
                    <i class="fa fa-angle-left" aria-hidden="true" style="font-size:40px;color:black"></i>
                </a>
                <a class="carousel-control-next" href="#featureid" role="button" data-slide="next">
                    <i class="fa fa-angle-right" aria-hidden="true" style="font-size:40px;color:black"></i>
                </a>
            </div>
        </div>
    </div>

</div>
<!-- Feature section end -->

<!-- openebs supported platform start-->
<div class="openebs-support pd-t-heading1 desktop" style="background-color:#e8e8e8;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center pd-t-b-heading1" style="color:#606060">Supported Platforms</h3>
            </div>
            <div class="col-md-12">
                <div class="platform-images bd-b">


                    <div class="paltform-outer bd-b">
                        <div class="platformsize aws bd-d"></div>
                    </div>

                    <div class="paltform-outer bd-b">
                        <div class="platformsize googlecloud bd-d"></div>
                    </div>
                    <div class="paltform-outer bd-b">
                        <div class="platformsize digitalocean bd-d"></div>
                    </div>
                    <div class="paltform-outer bd-b">
                        <div class="platformsize minikube bd-d"></div>
                    </div>
                    <div class="paltform-outer bd-b">
                        <div class="platformsize vagrant bd-d"></div>
                    </div>
                    <div class="paltform-outer bd-b">
                        <div class="platformsize openshift bd-d"></div>
                    </div>
                    <div class="paltform-outer bd-b">
                        <div class="platformsize stackpoint bd-d"></div>
                    </div>
                    <div class="paltform-outer bd-b">
                        <div class="platformsize ibmcloud bd-d"></div>
                    </div>

                    <!-- <div class="paltform-outer bd-b">
                        <div class="platformsize azure bd-d"></div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</div>

<div class="openebs-support pd-t-b-heading1 mobile" style="background-color:#e8e8e8;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center pd-t-b-heading2">Supported Platforms</h3>
            </div>
            <div class="col-md-12">
                <div class="platform-images bd-b">
                    <div class="des-flex bd-d">
                        <div class="paltform-outer bd-b">
                            <div class="platformsize aws bd-d"></div>
                        </div>
                        <!-- <div class="paltform-outer bd-b">
                            <div class="platformsize azure bd-d"></div>
                        </div> -->
                        <div class="paltform-outer bd-b">
                            <div class="platformsize googlecloud bd-d"></div>
                        </div>
                        <div class="paltform-outer bd-b">
                            <div class="platformsize openshift bd-d"></div>
                        </div>
                        <div class="paltform-outer bd-b">
                            <div class="platformsize stackpoint bd-d"></div>
                        </div>
                    </div>
                    <div class="des-flex bd-d">
                        <div class="paltform-outer bd-b">
                            <div class="platformsize vagrant bd-d"></div>
                        </div>
                        <div class="paltform-outer bd-b">
                            <div class="platformsize digitalocean bd-d"></div>
                        </div>
                        <div class="paltform-outer bd-b">
                            <div class="platformsize minikube bd-d"></div>
                        </div>
                        <div class="paltform-outer bd-b">
                            <div class="platformsize ibmcloud bd-d"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- openebs supported platform end-->
<!-- relase note , hackfest , hangout etc start  -->
<div class="feature-event pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex">
                <img src="assets/images/release-new.svg" alt="release images">
            </div>
            <div class="col-md-6 d-flex" style="align-items:center">
                <div class="relase-all-details">
                    <h3 class="pd-t-b-1 relase-no" style="color:#f93">OpenEBS 0.5.1 Released</h3>
                    <p class="pd-t-b-1 relase-details p2" style="color:#fff">With OpenEBS 0.5.1 every workload has its own storage policies and its own storage controller.</p>
                    <p class="pd-t-b-1 relase-details p2" style="color:#fff"> And OpenEBS 0.5.1 adds improved Prometheus metrics, Helm chart integration & much more.</p>
                    <a href="http://openebs.readthedocs.io/en/latest/" target="blank">
                        <button type="submit" class="ebs-btn" style="background-color:#f93;cursor: inherit;">Try It</button>
                    </a>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- relase note , hackfest , hangout etc end     -->


<!-- contibutor section start -->
<div class="contibutor pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-7 bd-tb text-center " style="">
                <div class="pd-t-b-heading2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">Our Community</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="d-flex pd-t-b-105" style="justify-content:space-around">
                    <div class="circle-under-text ">
                        <div class="circle-text">
                            <span id="issue-count"></span>
                        </div>
                        <p class="p3"> Issues</p>
                    </div>
                    <div class="circle-under-text">
                        <div class="circle-text">
                            <span id="star-count"></span>
                            <span>k</span>
                        </div>
                        <p class="p3"> Stargazers</p>
                    </div>
                    <div class="circle-under-text">
                        <div class="circle-text">
                            <span>100+</span>
                        </div>
                        <p class="p3"> Contributors</p>
                    </div>
                </div>
                <div class="all-contir pd-t-b-105" id="contibutorslist2"></div>
            </div>
            <div class="col-md-5 text-center" style="display:flex;align-items:center;">
                <div class="slack-pd">
                    <img class="slack-img" src="assets/images/slack-logo.svg" alt="">
                    <h3 class="font-weight-normal pd-t-b-1" style="color:#f93">
                        Join us on Slack
                    </h3>
                    <p class="community-details p2">Join our OpenEBS slack community to get help and support from the OpenEBS team and community members. </p>
                    <a href="">
                        <a href="https://slack.openebs.io/" target="blank"> <button type="submit" class="ebs-btn" style="background-color:#f93;cursor: inherit;">Join Us!</button></a>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contibutor section end -->



<!--User quotes start -->
<div class="user-quotes pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>User Quotes</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 rm-pd-mobile">
                <div id="user-qoutes-controls" class="carousel slide qoute-main" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="carousel-item active">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">

                                <div class="quotes-details">

                                    <p class="quotes">
                                        <i class="fa fa-quote-left p2" aria-hidden="true"></i> With wonderful and really helpful community and developers, I found it easier to get to know OpenEBS a lot better. I found OpenEBS to be really easy to use
                                        as a software defined storage for cloud native applications.
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                    <div>
                                        <p class="q-user-name p3">
                                            <span>~Hrishikesh N</span>, OpenEBS Contributor and Stargazer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">

                                <div class="quotes-details">

                                    <p class="quotes p2">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> OpenEBS is promising as it has the potential to bring the stability and scalability of Google File System to the masses. Personally, I am looking into a scalable
                                        store to cache large chunks of data and am looking forward to evaluate OpenEBS for the same.
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                    <div>
                                        <p class="q-user-name p3">
                                            <span>~Goutham</span>,Prometheus upstream contributor & OpenEBS User</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">
                                <div class="quotes-details">
                                    <p class="quotes p2">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> I was taking part on hacktoberfest, and used it as opportunity to get to know some interesting projects. That's how I discovered OpenEBS. I liked its features
                                        and development. I took one issue, and the developers were very solicit and nice!
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                    <div>
                                        <p class="q-user-name p3">
                                            <span> ~Eduardo</span>, OpenEBS contributor and Stargazer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="d-flex justify-content-center align-items-center pd-quotes">
                                <div class="quotes-details">
                                    <p class="quotes p2">
                                        <i class="fa fa-quote-left" aria-hidden="true"></i> A welcoming open source community developing DevOps friendly hyper-converged storage for containers, this is what attracted me to contribute to this project as
                                        a DevOps Engineer.
                                        <i class="fa fa-quote-right" aria-hidden="true"></i>
                                    </p>
                                    <div>
                                        <p class="q-user-name p3">
                                            <span>~Debojit Kakoti</span>,OpenEBS contributor and Stargazer</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#user-qoutes-controls" role="button" data-slide="prev" style="width:10%;">
                        <i class="fa fa-angle-left direction"></i>
                    </a>
                    <a class="carousel-control-next" href="#user-qoutes-controls" role="button" data-slide="next" style="width:10%;">
                        <i class="fa fa-angle-right direction"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--User quotes end-->


<!-- demo form start -->
<div class="demo-form pd-t-b-all">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="demo-details p2">Sign up for the OpenEBS newsletter with user stories and tips.</p>
            </div>
            <div class="col-md-6">
                <form class="form-view theme2 margin-0-auto" id="agile-form" action="https://cloudbyte.agilecrm.com/formsubmit" style="max-width:450px;" method="GET">
                    <fieldset>
                        <div style="display: none; height: 0px; width: 0px;">
                            <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="OpenEBS Demo">
                            <input type="hidden" id="_agile_domain" name="_agile_domain" value="cloudbyte">
                            <input type="hidden" id="_agile_api" name="_agile_api" value="2fj7t9epllsfe6c2jm86pnpqro">
                            <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="https://staging.openebs.io">
                            <input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
                            <input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="Great! Thanks for filling out the form.">
                            <input type="hidden" id="_agile_form_id_tags" name="tags" value="OpenEBS Demo">

                            <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5727242931929088">
                        </div>
                        <!-- Text input-->
                        <div class="d-flex justify-content-between">
                            <div class="form-group w-45 required-control">
                                <input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="First name" class="form-control" required="">

                            </div>
                            <!-- Text input-->
                            <div class="form-group w-45 required-control">
                                <input maxlength="250" id="agilefield-2" name="last_name" type="text" placeholder="Last name" class="form-control" required="">
                            </div>
                        </div>
                        <!-- Text input-->
                        <div class="form-group">
                            <input maxlength="250" id="agilefield-3" name="email" type="email" placeholder="Email" class="form-control">
                        </div>
                        <!--recaptcha aglignment-->
                        <!-- Button -->
                        <div class="agile-group">
                            <button type="submit" class="ebs-btn w-100" style="background-color:#ee5a2b;cursor: inherit;">Sign up</button>
                        </div>

                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- demo form end   -->