<!--Job Contents-->
<section class="vacancy-detail p-5 careers-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- <p><span class="text-muted"> September 12, 2017</span></p> -->
                <h1>Python/GO engineer</h1>
                <div class="location">
                    <p><i class="fa fa-map-marker pr-3" aria-hidden="true"></i>Bangalore</p>
                </div>
            </div>
        </div>
    </div>

    <!--jod main containt-->
    <div class="container job-des">
        <div class="row">
            <div class="col-md-8 aboutjob">
                <div class="container-fliud">
                    <p><strong>About the Role</strong></p>
                    <p>
                        <span style="font-weight:300;"> OpenEBS is building a platform in the machine learning area with the goal of helping customers
                                    to offload the responsibility of storage provisioning planning, storage operations to software
                                    intelligence. This storage data science platform processes the storage access patterns from
                                    thousands of live deployments and catalogues the data from millions of volumes and
                                    applications. The engineer will participate in helping build a middle tier between a centralized
                                    web console and the storage intelligence platform.
                            </span>

                    </p>

                    <p><strong>Responsibilities</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Accountable for implementation of the data extraction layer in the core storage product</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Expected to aggressively churn out the python/Go code</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Integration of user-facing elements developed by front-end developers with server side logic</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Write reusable, testable, scalable and performing code</span></li>

                    </ul>

                    <p><strong>Desired Skills</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Expert in Python, with knowledge of at least one Python web framework such as
                                        Django, Flask, etc depending on your technology stack</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Familiarity with some ORM (Object Relational Mapper) libraries</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Able to integrate multiple data sources and databases into one system</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Understanding of the threading limitations of Python, and multi-process architecture</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Familiarity with event-driven programming in Python</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Understanding of the differences between multiple delivery platforms, such as mobile vs desktop, and optimizing output to match the specific platform</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Able to create database schemas that represent and support business processes</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Strong unit test and debugging skills</span></li>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">Proficient understanding of code versioning tools such as Git, Mercurial or SVN</span></li>
                    </ul>
                    <p><strong>Education</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">M.C.A / B.E/ B.Tech from a reputed college or university with outstanding academic record.</span></li>
                    </ul>
                    <p><strong>Pay scale</strong></p>
                    <ul>
                        <li style="font-weight: 400;"><span style="font-weight: 400;">As per market standards. The pay will be competitive.</span></li>
                    </ul>
                    <p><strong>About OpenEBS</strong></p>
                    <p>
                        <span style="font-weight:300;"> OpenEBS (@openebs) addresses the challenge of large scale storage management faced by
                                    many container users as they move mission critical, stateful workloads onto containers running
                                    in a multicloud and hybrid environment. OpenEBS works seamlessly with Kubernetes, Docker
                                    and other orchestration projects and itself is built in a cloud native way. OpenEBS is available
                                    under the Apache 2 license. OpenEBS is sponsored and driven by CloudByte.
                            </span>

                    </p>
                    <p><strong>About CloudByte</strong></p>
                    <p>
                        <span style="font-weight:300;"> CloudByte is the provider of Software defined storage software and appliances. CloudByte’s
                                    patented technology has been helping large storage deployments to realize significant cost
                                    savings as well as QoS controls and simplicity of management. Established in 2011, CloudByte
                                    has development offices in India, Europe, and the US and customers world-wide.
                            </span>

                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Apply form section-->
<section>
    <div class="apply-form">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <h3>Interested? Apply now!</h3>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12 form-apply absolute-Center">

                        <form name="frm-apply" method="post" action="" enctype="multipart/form-data" style="max-width:480px; width: 100%; padding: 30px; border-radius:4px; background-color:#f5f7f8;">
                            <div class="form-group">
                                <input type="text" class="form-control" id="fname" name="fname_txt" placeholder="First Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="lname" name="lname_txt" placeholder="Last Name" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="email" name="email_txt" placeholder="Email" autocomplete="off" required>
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" id="phone" name="phone_txt" placeholder="Mobile Number" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="address" name="address_txt" placeholder="Location" autocomplete="off" required>
                            </div>
                            <div class="cv_attach" style="display: block; float: left; width: 100%; margin: 15px 0 15px; text-align: left;">
                                <a href="#" class="btn " id="btn-cv-add"><i class="fa fa-paperclip" aria-hidden="true"></i> Attach your resume</a>
                            </div>
                            <button class="btn btn-primary btn-ebs form-control">APPLY</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>