<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="hangout-img">
                    <img src="assets/images/hangout-desk.svg" title="Hangout" alt="hangout-desktop" class="desktop">
                    <img src="assets/images/hangout-mobile.svg" title="Hangout" alt="hangout-desktop" class="mobile">
                </div>
            </div>
            <div class="col-md-12">
                <div class="hangout-text">
                    <p class="hgt">OpenEBS Hangout 5</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 thankyou" style="text-align:center; padding:2.5% 2.5%;">
                <p>Thank you for registering for OpenEBS Hangout #5. We look forward to having you join us.</p>
                <div class="calender-link top-link">
                    <a style="color:#f15a29" target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=M3NqYXBxbWNqbGpxYnE5MjBzYzY3cGdoNnYgYzhobnNiMnNybnVtYXZnNGZpbW5hZ3N1ZGNAZw&tmsrc=c8hnsb2srnumavg4fimnagsudc%40group.calendar.google.com"><i class="fa fa-calendar" aria-hidden="true"></i> Add 11:00 AM PST event to your calendar</a>
                </div>
                <div class="calender-link">
                    <a style="color:#f15a29" target="_blank" href="https://calendar.google.com/event?action=TEMPLATE&tmeid=MnZncGs0aDJvdTFiOHQzbW5uMDQ1YXM0bTkgYzhobnNiMnNybnVtYXZnNGZpbW5hZ3N1ZGNAZw&tmsrc=c8hnsb2srnumavg4fimnagsudc%40group.calendar.google.com"><i class="fa fa-calendar" aria-hidden="true"></i> Add 11:00 AM IST event to your calendar</a>
                </div>
            </div>
        </div>
    </div>
</section>