<style>
    .mobile-view1 {
        display: none;
    }
    
    @media screen and (max-width:767px) {
        .mobile-view1 {
            display: block;
        }
    }
</style>
<main>
    <section class="desktop-view">
        <div class="main-head">


            <div class="container-fluid">
                <div class="row mule-sec chang-bg">

                    <div class="col-md-7 " style="padding-left:0px;">

                        <div>
                            <img src="assets/images/hackfest/whitehack-01.svg" alt="OpenEBS Hackfest" title="OpenEBS Hackfest " class="mule-img mule-sitting-new">
                        </div>

                    </div>

                    <div class="col-md-5" style="padding-right:0px;">

                        <div class="header-sec ">
                            <div class="slant-line">
                                <h6 style="text-align:center">Thank you for all your contributions <br> to OpenEBS Hackfest 2017! <br> Hope You had a great run with us</h6>
                                <!-- <h6>Thank you, for all your contributions to <strong><a href="../hacktoberfest2017/"><u>Hacktoberfest 2017!</u> </a></strong>We are extending the Hacktoberfest to our very own <strong>OpenEBS Hackfest.</strong><br><br>
                                        <span style="color:black;"><i class="fa fa-calendar" aria-hidden="true"></i><strong> 15th Nov - 15th Dec</strong></span></h6>
                                    <a href="#contribute-to-me"><button type="button" class=" btn-overwrite  helloAm">Get Hacking</button></a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="mobile-view">
        <div class="main-head">
            <div class="container-fluid">
                <div class="row mule-sec">
                    <div class="col-12" class="hackcontributions" style="padding-right:0px;background-color:#00999E">
                        <div class="header-sec">
                            <h6 style="text-align:center">Thank you for all your contributions <br> to OpenEBS Hackfest 2017! <br> Hope You had a great run with us</h6>
                            <!-- <span style="color:black;"><i class="fa fa-calendar" aria-hidden="true"></i><strong> 15th Nov - 15th Dec</strong></span></h6>
                                <button type="button" class=" btn-overwrite">Get Hacking</button> -->
                        </div>
                    </div>
                    <div class="col-12 mule-sec" class="setcorrectmargin" style="padding-left:0px;padding-right:0;margin-bottom:8%;">
                        <div>
                            <!-- <div class="setdiv"></div> -->
                            <img src="assets/images/hackfest/whitehack-01.svg" alt="OpenEBS Hackfest" title="OpenEBS Hackfest " class="mule-img mule-sitting-new">
                        </div>
                    </div>

                </div>
            </div>
        </div>


    </section>

</main>

<!-- <section class="winner-section">
        <div class="container-fluid container1">
            <div class="row cafe-rev mobileup">
                <div class="col-12 col-md-7 laptop-sec1" style="padding:1px;">
                    <div class="win-tshirts">
                        <h2>Contribute to us and win!</h2>

                        <p>We are giving away special edition <span class="orangeText">T-shirts</span> and <span class="orangeText">stickers</span> to every hackfest contributor.</p>
                        <p>Every contributor gets a chance to be <span class="orangeText">featured on our website.</span></p>

                    </div>
                </div>
                <div class="col-12 col-md-5 laptop-sec2">
                    <div class="tshirt-circle">
                        <div class="tshirt">
                            <img src="assets/images/hackfest/t-shirt-new.png" alt="OpenEBS Hackfest Tshirts" title="OpenEBS Hackfest Tshirts">
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid container1">
            <div class="row cafe-rev mobile-down" style="">

                <div class="col-6 col-md-6 laptop-sec2">
                    <div class="laptop-circle">
                        <div class="laptop">
                            <img src="assets/images/hackfest/laptopprize-new.png" alt="laptop" title="HackFest Prize">
                        </div>
                    </div>

                </div>
                <div class="col-6 col-md-6  laptop-sec1 mob" style="padding:1px;">
                    <div class="win-laptop">


                        <p>The contributor with the best PR submission gets to win a <span class="orangeText">Laptop!</span></p>

                    </div>
                </div>
            </div>
        </div>
    </section> -->




<section class="contibutor-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="contibutor-title">
                    <h2>OpenEBS Hackfest Contributors, thank you for your contributions!</h2>
                </div>
                <div class="peoples">
                    <div class="d-flex people-details">
                        <a href="https://github.com/atheoscommune" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars3.githubusercontent.com/u/15967659?s=110&v=44" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">atheos</p>
                            <a href="https://github.com/openebs/maya/pull/228" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>
                    <div class="d-flex people-details">
                        <a href="https://github.com/xetys" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars3.githubusercontent.com/u/2758003?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">David</p>
                            <a href="https://github.com/openebs/openebs/pull/1021" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>

                    <div class="d-flex people-details">
                        <a href="https://github.com/mynktl" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars0.githubusercontent.com/u/33252549?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Mayank</p>
                            <a href="https://github.com/openebs/maya/pull/227" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>
                    <div class="d-flex people-details">
                        <a href="https://github.com/dungeonmaster18" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars0.githubusercontent.com/u/23421535?s=400&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Umesh</p>
                            <a href="https://github.com/openebs/maya/pull/199" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>




                </div>
                <div class="peoples" style="">


                    <div class="d-flex people-details">
                        <a href="https://github.com/rohythakur" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars2.githubusercontent.com/u/11797824?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Rohit</p>
                            <a href="https://github.com/openebs/openebs/pull/913" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>
                    <div class="d-flex people-details">
                        <a href="https://github.com/mptap" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars1.githubusercontent.com/u/2568272?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Manjiri</p>
                            <a href="https://github.com/openebs/maya/pull/191" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>

                    <div class="d-flex people-details">
                        <a href="https://github.com/ferhatelmas" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars3.githubusercontent.com/u/648018?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">ferhat</p>
                            <a href="https://github.com/openebs/openebs/pull/907" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>

                    <div class="d-flex people-details">
                        <a href="https://github.com/abhisheklakra007" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars3.githubusercontent.com/u/16861795?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Abhishek</p>
                            <a href="https://github.com/openebs/maya/pull/207" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>

                </div>


                <div class="peoples" style="">

                    <!-- <div class="d-flex people-details">
                            <a href="https://github.com/abhisheklakra007" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars3.githubusercontent.com/u/16861795?s=110&v=4" alt="thepriefy" /></a>
                            <div class="d-flex flex-column name-sec">
                                <p class="name">Abhishek</p>
                                <a href="https://github.com/openebs/maya/pull/207" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                            </div>
                        </div> -->
                    <div class="d-flex people-details">
                        <a href="https://github.com/senthilkumar-e" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars1.githubusercontent.com/u/19323339?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Senthil</p>
                            <a href="https://github.com/openebs/openebs/pull/932" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>

                    <div class="d-flex people-details">
                        <a href="https://github.com/hammadmashkoor" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars2.githubusercontent.com/u/28043522?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Mashkoor</p>
                            <a href="https://github.com/openebs/openebs/pull/900" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>
                    <div class="d-flex people-details">
                        <a href="https://github.com/thepriefy" target="_blank" rel="noopener noreferrer"> <img class="contriimg" src="https://avatars1.githubusercontent.com/u/10849586?s=110&v=4" alt="thepriefy" /></a>
                        <div class="d-flex flex-column name-sec">
                            <p class="name">Thepriefy</p>
                            <a href="https://github.com/openebs/openebs/pull/188" target="_blank" rel="noopener noreferrer" style="color:#ff9933"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- <section class="cafe-section " style="margin:4% 4% 4% 4%; ">
        <div class="container ">
            <div class="row cafe-rev">
                <div class="col-md-6 details ">
                    <img src="assets/images/hackfest/cafetitle.svg" alt="cafetitle " title="OpenEBS Cafe " class="cafeimg ">

                    <h4>Hey, if you are in Bangalore, stop by the OpenSource Cafe for free WiFi and chai/coffee or book it for your community meeting</h4>
                    <button type="button" class="btn btn-primary btn-overwrite visitus "> <a href="../cafe/" target="_blank">Visit Us</a></button>
                </div>
                <div class="col-md-6 people ">
                    <img src="assets/images/hackfest/openebs-hacktober-section-01.svg" alt="people-sitting " title="cafe " class="cafepeople ">
                </div>
            </div>

        </div>
    </section> -->

<section style="background-color:#efefef;">
    <div class="container">
        <div class="row pd-hackfest">
            <div class="col-12 col-md-6 middle-me mobile-background m-r">
                <div class="row reverse-mob">
                    <!-- <div class="col-md-3"></div> -->
                    <div class="col-12 col-md-8 middle-me ">
                        <div class="about-winner">
                            <p class="winner-name">David Steiman</p>
                            <p>Won a laptop for the best PR for Hacktfest</p>
                            <p>
                                <a href="https://github.com/openebs/openebs/pull/1021" target="_blank" rel="noopener noreferrer"><img class="primage" src="assets/images/hackfest/merged.svg" alt="primage" height="15" width="15" />PR</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-4 middle-me">
                        <div class="winner-image">
                            <img src="https://avatars3.githubusercontent.com/u/2758003?s=150&v=4" title="Hackfest Winner" alt="Hackfest Winner">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-12 col-md-6 middle-me winner-tp">
                <div class="winner-trophy">
                    <img src="assets/images/hackfest/hack-winner-trophy.svg" alt="Winner Trophy" title="Winner Trophy">
                </div>
            </div>
        </div>
    </div>
</section>



<section class="contributed-issue" id="contribute-to-me">
    <div class="container">
        <div class="row issue-row">
            <div class="col-12 col-md-4 temp firstme">
                <div class="row issue-row1">
                    <!-- <div class="col-6 col-md-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column; ">
                            <div class="circlepr ">0</div>
                            <p class="txt">Open Issues</p>
                        </div>
                        <div class="col-6 col-md-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column; ">
                            <div class="circlepr ">0</div>
                            <p class="txt"> Submitted PRs</p>
                        </div> -->
                    <div class="col-6 col-md-12 centerAm">
                        <div class="button newlinks">
                            <a href="https://github.com/openebs/openebs/labels/help%2Fsmall " target="_blank">
                                <p class="newlink">Beginner</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 centerAm">
                        <div class="button newlinks">
                            <a href="https://github.com/openebs/openebs/labels/help%2Fmedium " target="_blank">
                                <p class="newlink">Intermediate</p>
                            </a>
                        </div>
                    </div>
                </div>

                <!-- <br> -->
                <div class="row issue-row2">
                    <!-- <div class=" col-6 col-md-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column; ">
                            <div class="circlepr ">0</div>
                            <p class="txt">Merge PRs</p>
                        </div>
                        <div class="col-6 col-md-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column; ">
                            <div class="circlepr ">0</div>
                            <p class="txt">Open PRs</p>
                        </div> -->
                    <div class="col-6 col-md-12 centerAm">
                        <div class="button newlinks">
                            <a href="https://github.com/openebs/openebs/search?q=go&type=Issues&utf8=%E2%9C%93" target="_blank">
                                <p class="newlink">Go</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 centerAm">
                        <div class="button newlinks">
                            <a href="https://github.com/openebs/openebs/issues?utf8=%E2%9C%93&q=is%3Aopen%20python " target="_blank">
                                <p class="newlink">Python</p>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row issue-row2">
                    <!-- <div class=" col-6 col-md-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column; ">
                                <div class="circlepr ">0</div>
                                <p class="txt">Merge PRs</p>
                            </div>
                            <div class="col-6 col-md-6 " style="display: flex;align-items: center;justify-content: center;flex-direction: column; ">
                                <div class="circlepr ">0</div>
                                <p class="txt">Open PRs</p>
                            </div> -->
                    <div class="col-6 col-md-12 centerAm">
                        <div class="button newlinks">
                            <a href="https://github.com/openebs/openebs/labels/documentation " target="_blank">
                                <p class="newlink">Documentation</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-6 col-md-12 centerAm">
                        <div class="button newlinks">
                            <a href="https://github.com/openebs/openebs/issues" target="_blank">
                                <p class="newlink">All</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 contri">
                <div class="contributeissue">
                    <img src="assets/images/hackfest/hackfest-01.svg" alt="contribute" title="Contribute" />
                </div>
            </div>
            <div class="col-12 col-md-4 temp secondme">
                <div class="row issue-row1">
                    <div class="col-6 col-md-12 mobile-view" style="align-items: center;justify-content: center;flex-direction: column; ">
                        <div class="circlepr ">369</div>

                        <p class="txt">Open Issues</p>

                    </div>
                    <div class="col-6 col-md-12  newlook newlook-top desktop-view-contri">
                        <div class="circlepr ">369</div>

                        <p class="txt">Open Issues</p>

                    </div>
                    <div class="col-6 col-md-12 mobile-view" style="align-items: center;justify-content: center;flex-direction: column; ">
                        <div class="circlepr ">38</div>
                        <p class="txt"> Submitted PRs</p>
                    </div>
                    <div class="col-6 col-md-12 newlook desktop-view-contri">
                        <div class="circlepr ">38</div>
                        <p class="txt"> Submitted PRs</p>
                    </div>
                </div>
                <br class="mobile-view">
                <!-- <br> -->
                <div class="row issue-row2">
                    <div class=" col-6 col-md-12 mobile-view" style="align-items: center;justify-content: center;flex-direction: column; ">
                        <div class="circlepr ">29</div>
                        <p class="txt">Merged PRs</p>
                    </div>
                    <div class=" col-6 col-md-12 newlook desktop-view-contri">
                        <div class="circlepr ">29</div>
                        <p class="txt">Merged PRs</p>
                    </div>
                    <div class="col-6 col-md-12 mobile-view" style="align-items: center;justify-content: center;flex-direction: column; ">
                        <div class="circlepr ">4</div>
                        <p class="txt">Open PRs</p>
                    </div>
                    <div class="col-6 col-md-12 newlook desktop-view-contri">
                        <div class="circlepr ">4</div>
                        <p class="txt">Open PRs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>