<!--Hero image event-->
<section class="event-hero">
</section>

<!--event cards-->
<section class="pd-t-b-all">
    <div class="container-fluid event-body" style="margin-top:0%;">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>DEC | 14</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS Bay Area Kubernetes Meetup #7</h1>
                <h3>Cross cloud infrastructure becomes a reality - and data management is fixed once and for all.</h3>
                <a href="events/december" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
    <div class="container-fluid event-body">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>OCT | 24</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS South Bay Kubernetes DevOps #6</h1>
                <h3>Containerized storage for CI/CD Pipeline and DevOps was co-hosted with the Bay Kubernetes DevOps Meetup.</h3>
                <a href="events/october" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
    <div class="container-fluid event-body">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>JUL | 15</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS Bangalore Meetup #5</h1>
                <h3>Containerized Storage for Containers was co-hosted with the Bangalore Golang Meetup.</h3>
                <a href="events/july" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
    <div class="container-fluid event-body">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>JUN | 17</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS Bangalore Meetup #4</h1>
                <h3>Containerized Storage for Containers was co-hosted with the Bangalore Golang Meetup. We do use Golang extensively for the development of OpenEBS</h3>
                <a href="events/june" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
    <div class="container-fluid event-body">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>APR | 8</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS Bangalore Meetup #3</h1>
                <h3>The main attraction of the day was the release of OpenEBS 0.2, now integrated with Kubernetes and the new features within the update</h3>
                <a href="events/april" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
    <div class="container-fluid event-body">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>FEB | 25</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS Bangalore Meetup #2</h1>
                <h3>The fascinating intro to what OpenEBS is and how it works by Uma, was followed by a hands on demo by Kiran</h3>
                <a href="events/february" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
    <div class="container-fluid event-body">
        <div class="row justify-content-center" style="align-items:center;">
            <div class="col-md-2 event-time">
                <div class="event-time-box">
                    <h2>JAN | 25</h2>
                </div>
            </div>
            <div class="col-md-10 event-des">
                <h1>OpenEBS Bangalore Meetup #1</h1>
                <h3>Containerized storage for Containers We had a wonderful evening as we successfully delivered our first Meetup</h3>
                <a href="events/january" target="_blank">View Event Details...</a>
            </div>
        </div>
    </div>
</section>
<!-- <router-outlet></router-outlet> -->