<div class="pd-t-5 menu-section">
    <div class="container">
        <div class="row" style="padding:2.5% 0%">
            <div class="col-12 col-md-3 news-list">
                <div class="list-group">
                    <a routerLink="december2017" routerLinkActive="active" [routerLinkActiveOptions]="{ exact : true }" class="list-group-item active">December 2017</a>
                    <a routerLink="november2017" routerLinkActive="active" class="list-group-item">November 2017</a>
                    <a routerLink="october2017" routerLinkActive="active" class="list-group-item">October 2017</a>
                    <a routerLink="september2017" routerLinkActive="active" class="list-group-item">September 2017</a>
                    <a routerLink="august2017" routerLinkActive="active" class="list-group-item">August 2017</a>
                    <a routerLink="july2017" routerLinkActive="active" class="list-group-item">July 2017</a>
                    <a routerLink="june2017" routerLinkActive="active" class="list-group-item">June 2017</a>
                    <a routerLink="april2017" routerLinkActive="active" class="list-group-item">April 2017</a>
                </div>
            </div>
            <div class="col-12 col-md-9">
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>
</div>