<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="hangout-img">
                    <img src="assets/images/hangout-desk.svg" title="Hangout" alt="hangout-desktop" class="desktop">
                    <img src="assets/images/hangout-mobile.svg" title="Hangout" alt="hangout-desktop" class="mobile">
                </div>
            </div>
            <div class="col-md-12">
                <div class="hangout-text">
                    <p class="hgt">OpenEBS Hangout 3</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="join">
                    <p>Deploying OpenEBS on AWS</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="mobile-mid">
    <div class="container">
        <div class="row">
            <div class="col-md-6 hangout-left hg-left">
                <div class="row">
                    <div class="col-12 col-md-6 middle-element openebs-hangout-img">
                        <img src="assets/images/hangout-mule.svg" alt="OpenEBS Flying Mule" title="OpenEBS Flying Mule">
                    </div>
                    <div class="col-12 col-md-6 middle-element para">

                        <p>Demo of cMotion<br>(live movement of stateful <br>workloads across kubernetes <br>clusters)</p>

                    </div>
                </div>
                <div class="row mobile-reverse">
                    <div class="col-12 col-md-6 middle-element para">

                        <p>Introduction to storage <br>policies in OpenEBS 0.5</p>

                    </div>
                    <div class="col-12 col-md-6 middle-element openebs-hangout-img">
                        <img src="assets/images/hangout-devops.svg" alt="OpenEBS Devops" title="OpenEBS Devops">
                    </div>
                </div>
            </div>
            <div class="col-md-6 miidle-element hangout-details">
                <div class="middle-element">
                    <div class="peak-div middle-element">
                        <p class="peak">A peak into what we discussed</p>
                    </div>

                </div>
                <div class="peak-list">
                    <div class="middle-element">
                        <div class="middle-element pd-lf">
                            <div class="middle-elment peak-num">1</div>
                            <div class="middle-element">
                                <p>adgfkjsadhasdhgfsgad mhvADSHGFJKADS KDSH sdjhA DKJDS kjHGDS adhg ADSJKGADS Lah JHGasjdhgA KJa kAJDS</p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-element">
                        <div class="middle-element pd-lf">
                            <div class="middle-elment peak-num">2</div>
                            <div class="middle-element">
                                <p>adgfkjsadhasdhgfsgad mhvADSHGFJKADS KDSH sdjhA DKJDS kjHGDS adhg ADSJKGADS Lah JHGasjdhgA KJa kAJDS</p>
                            </div>
                        </div>
                    </div>
                    <div class="middle-element">
                        <div class="middle-element pd-lf">
                            <div class="middle-elment peak-num">3</div>
                            <div class="middle-element">
                                <p>adgfkjsadhasdhgfsgad mhvADSHGFJKADS KDSH sdjhA DKJDS kjHGDS adhg ADSJKGADS Lah JHGasjdhgA KJa kAJDS</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="row">
                    <div class="col-12 col-md-6 middle-element para">

                        <p>Introduction to storage <br>policies in OpenEBS 0.5</p>

                    </div>
                    <div class="col-12 col-md-6 middle-element openebs-hangout-img">
                        <img src="assets/images/hangout-devops.svg" alt="OpenEBS Devops" title="OpenEBS Devops">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="previous-hangout">
                    <p>Video and Slides</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row pd">
            <div class="col-md-12 rm-pd">
                <div class="row">
                    <div class="col-md-6 video-pd">

                        <iframe class="video-slide" src="https://www.youtube.com/embed/G8RV6rtkljE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                        <div style="text-align:center;padding-top:2.5%;">Video</div>

                    </div>
                    <div class="col-md-6 slide-pd">
                        <iframe src="//www.slideshare.net/slideshow/embed_code/key/LYPHMmpffNpMHS" class="video-slide" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
                        <p style="text-align:center;padding-top:2.5%;">Slide</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>