<!-- <div class="workload-details pd-t-b-heading1">
    <div class="container">
        <div class="row">
            <div class="col-md-8 workload-tagline pd-t-b-heading2 margin-0-auto" style="margin: 0 auto;">
                <img src="assets/images/workloads/redis.svg" alt="">
                <p class="p2 text-center heading-workloads">OpenEBS is most active Cloud Native Containerized Storage project</p>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="install-box pd-t-b-heading2">
                            <p class="heading">Install using helm charts</p>
                            <div class="installation-step">
                                <p class="p3">https://github.com/kubernetes/charts/tree/master/stable/redis</p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 pd-t-install-mb">
                        <div class="install-box pd-t-b-heading2">
                            <p class="heading">Storage Class</p>
                            <div class="installation-step">
                                <p class="p3">https://github.com/openebs/openebs/blob/master/k8s/charts/openebs/templates/sc-openebs-redis.yaml</p>
                            </div>
                        </div>
                        <a href="http://openebs.readthedocs.io/en/latest/Usecases/redis.html">
                            <p class="p3 pd-t-05 workloads-learnmore" style="float:right">Learn more
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<div class="workload-details2 pd-t-b-heading1">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="text-center pd-t-b-heading2"> Redis </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 text-center">
                <img src="assets/images/workloads/redis.svg" alt="">
            </div>
            <div class="col-12 col-md-8 margin-0-auto">
                <ul style="list-style-type:circle;color:#606060">
                    <li class="pd-t-b-07">
                        <p class="p2">Install Redis using helm charts:</p>
                        <a href="https://github.com/kubernetes/charts/tree/master/stable/redis" target="blank">
                            <p class="p3">https://github.com/kubernetes/charts/tree/master/stable/redis</p>
                        </a>
                    </li>
                    <li class="pd-t-b-07">
                        <p class="p2"> For configuring OpenEBS as the storage, use openebs-redis as storage class:</p>
                        <a href="https://github.com/openebs/openebs/blob/master/k8s/charts/openebs/templates/sc-openebs-redis.yaml" target="blank">
                            <p class="p2">https://github.com/openebs/openebs/blob/master/k8s/charts/openebs/templates/sc-openebs-redis.yaml</p>
                        </a>
                    </li>
                    <li class="pd-t-b-07">
                        <p class="p2">Detailed documentaion</p>
                        <a href="http://openebs.readthedocs.io/en/latest/Usecases/redis.html" target="blank">
                            <p class="p2">http://openebs.readthedocs.io/en/latest/Usecases/redis.html</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>