<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="hangout-img">
                    <img src="assets/images/hangout-desk.svg" title="Hangout" alt="hangout-desktop" class="desktop">
                    <img src="assets/images/hangout-mobile.svg" title="Hangout" alt="hangout-desktop" class="mobile">
                </div>
            </div>
            <div class="col-md-12">
                <div class="hangout-text">
                    <p class="hgt">OpenEBS Hangouts</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="join">
                    <p>Join Us</p>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <div id="myModal" class="modal"> -->


<!-- <div class="modal-content">
    <div class="container"><span class="close" style="color:#f15a29; padding-top:2%">&times;</span>
        <div class="row" style="display:flex; justify-content:center; align-items:center; text-align:center; margin:auto; padding:10% 7%;">
            <div class="col-12 col-md-4">
                <div>
                    <img src="styles/images/hangout-img.svg" alt="Hangout Image" title="Hangout">
                </div>
            </div>
            <div class="col-12 col-md-8 content-modal">
                <p style="color:#f15a29;">Hey <span id="username"></span></p>
                <p>Thank you for registering for OpenEBS Hangout #4. We look forward to having you join us.</p>
                <div style="color:#ed592a; display:none;" id="pst" class="pst-modal">
                    <a target="_blank" href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=OpenEBS+Hangout-4&dates=20171221T293000Z/20171221T295960Z&ctz=America/Los_Angeles&details=Join+us+for+the+4th+edition+of+OpenEBS+Hangout! <br/> Agenda<br>Demo of cMotion<br>Introduction to storage policies of OpenEBS 0.5<br><a href='https://zoom.us/j/558345416'>Click here to join</a>&sf=false&output=xml"><i class="fa fa-calendar" aria-hidden="true"></i> Add 11:00 AM PST event to your calendar</a>
                </div>
                <div style="color:#ed592a; display:none;" id="ist" class="ist-modal">
                    <a target="_blank" href="https://calendar.google.com/calendar/render?action=TEMPLATE&text=OpenEBS+Hangout-4&dates=20171221T293000Z/20171221T295960Z&ctz=Asia/Calcutta&details=Join+us+for+the+4th+edition+of+OpenEBS+Hangout!<br>Agenda<br>Demo of cMotion<br>Introduction to storage policies of OpenEBS 0.5<br><a href='https://zoom.us/j/558345416'>Click here to join</a>&sf=false&output=xml"><i class="fa fa-calendar" aria-hidden="true"></i> Add 11:00 AM IST event to your calendar</a>
                </div>


            </div>

        </div>
    </div>


</div> -->




<section class="hangout-form" style="">
    <div class="container rmpd">
        <div class="row" style="align-items:center;">
            <div class="col-12 col-md-6 hangout-left">
                <div class="row pd-row">
                    <div class="col-12 col-md-6 middle-element openebs-hangout-img">
                        <img src="assets/images/hangout-mule.svg" alt="OpenEBS Flying Mule" title="OpenEBS Flying Mule">
                    </div>
                    <div class="col-12 col-md-6 middle-element para">

                        <p>Demo on Installing OpenEBS using StackPoint Cloud Trusted Charts</p>

                    </div>
                </div>
                <div class="row pd-row mobile-reverse">
                    <div class="col-12 col-md-6 middle-element para">

                        <p>Explaining the features fixed in OpenEBS 0.6</p>

                    </div>
                    <div class="col-12 col-md-6 middle-element openebs-hangout-img">
                        <img src="assets/images/hangout-devops.svg" alt="OpenEBS Devops" title="OpenEBS Devops">
                    </div>
                </div>
                <div class="row pd-row">
                    <div class="col-12 col-md-6 middle-element openebs-hangout-img">
                        <img src="assets/images/hangout-mule.svg" alt="OpenEBS Flying Mule" title="OpenEBS Flying Mule">
                    </div>
                    <div class="col-12 col-md-6 middle-element para">

                        <p>OpenEBS Project - Roadmap for 2018</p>

                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 middle-element forms">
                <div class="row middle-element right-element-div">

                    <div class="col-md-12">
                        <div class="countdown-note">
                            <h2>OpenEBS Hangout #5</h2>
                        </div>
                        <div>
                            <div class="countdown-timer">
                                <div id="demo" style="width:70%"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-12 time-image" style="text-align:center;padding:2% 0%; color:#f15a29;">
                        <div class="row">
                            <div class="col-md-7"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>11:00 AM (IST) and 11:00 AM (PST) </span></div>
                            <div class="col-md-5"><span>2nd February 2018</span></div>
                        </div>
                        <!-- <div class="row">
                            <div class="col-md-6"><i class="fa fa-clock-o" aria-hidden="true"></i> <span>At 11:00 AM (PST)</span></div>
                            <div class="col-md-6"><span>On 2nd February 2018</span></div>
                        </div> 
                    action="https://cloudbyte.agilecrm.com/formsubmit"-->

                    </div>




                    <div class="col-md-12 middle-element form-div">
                        <form class="form-view theme2" id="agile-form" action="https://cloudbyte.agilecrm.com/formsubmit" style="max-width:100%;" method="post">
                            <fieldset>

                                <!-- Form Name -->
                                <!-- <legend>Webinar 5 Registration</legend>
                                <p class="agile-form-description">Fill up the details</p> -->
                                <div style="display: none; height: 0px; width: 0px;">
                                    <input type="hidden" id="_agile_form_name" name="_agile_form_name" value="Webinar 5 Registration">
                                    <input type="hidden" id="_agile_domain" name="_agile_domain" value="cloudbyte">
                                    <input type="hidden" id="_agile_api" name="_agile_api" value="2fj7t9epllsfe6c2jm86pnpqro">
                                    <input type="hidden" id="_agile_redirect_url" name="_agile_redirect_url" value="https://staging.openebs.io/hangout/thankyou">
                                    <input type="hidden" id="_agile_document_url" name="_agile_document_url" value="">
                                    <input type="hidden" id="_agile_confirmation_msg" name="_agile_confirmation_msg" value="Great! Thanks for filling out the form.">
                                    <input type="hidden" id="_agile_form_id_tags" name="tags" value="Webinar 5 Registration">

                                    <input type="hidden" id="_agile_form_id" name="_agile_form_id" value="5750378511466496">
                                </div>
                                <!-- Text input-->
                                <div class="agile-group required-control form-group">
                                    <!-- <label class="agile-label" for="agilefield-1">Enter Name<span class="agile-span-asterisk"> *</span></label> -->
                                    <div class="agile-field-xlarge agile-field">
                                        <input maxlength="250" id="agilefield-1" name="first_name" type="text" placeholder="Enter your name" class="form-control" required="">
                                    </div>
                                    <div class="agile-custom-clear"></div>
                                </div>
                                <!-- Text input-->
                                <div class="agile-group required-control form-group">
                                    <!-- <label class="agile-label" for="agilefield-2">Enter  Email<span class="agile-span-asterisk"> *</span></label> -->
                                    <div class="agile-field-xlarge agile-field">
                                        <input maxlength="250" id="agilefield-2" name="email" type="email" placeholder="Enter your email" class="form-control" required="">
                                    </div>
                                    <div class="agile-custom-clear"></div>
                                </div>
                                <!-- Multiple Checkboxes -->
                                <div class="agile-group agile-form-inlinecheckboxes form-group" style="text-align:center;">
                                    <label class="agile-label" for="multiple_checkboxes_1516095519530">Select Time</label>
                                    <div class="agile-field agile-field-xlarge agile-height-default">
                                        <div class="inline-div">
                                            <label for="multiple_checkboxes_1516095519530-0" class="i-checks">
                          <input type="checkbox" name="multiple_checkboxes_1516095519530-0" class="form-check-input" id="multiple_checkboxes_1516095519530-0" value="11:00 AM  IST" checked="checked"><i></i>
                            <span style="padding-left:4%">11:00 AM  IST</span>
                        </label>
                                        </div>

                                        <div class="inline-div">
                                            <label for="multiple_checkboxes_1516095519530-1" class="i-checks">
                          <input type="checkbox" name="multiple_checkboxes_1516095519530-1" class="form-check-input" id="multiple_checkboxes_1516095519530-1" value="11:00 PM  PST"><i></i>
                            <span style="padding-left:4%">11:00 PM  PST</span>
                        </label>
                                        </div>

                                    </div>
                                </div>


                                <div class="agile-group">

                                    <div class="agile-field agile-button-field submit-btn">
                                        <button type="submit" class="btn btn-primary">Invite Me</button>
                                        <br><span id="agile-error-msg"></span>
                                    </div>
                                </div>

                            </fieldset>
                        </form>

                    </div>





                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 rm-pd">
                <div class="previous-hangout">
                    <p>Previous Hangouts</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 rm-pd allhangout">
                <div class="pre-hangout">
                    <a href="/hangout/1" target="_blank">
                        <div class="pre-circle">
                            1
                        </div>
                    </a>

                    <div class="pre-text">
                        <p>K8s 1.6 - Sandbox Setup</p>
                    </div>

                </div>

                <div class="pre-hangout">
                    <a href="/hangout/2" target="_blank">
                        <div class="pre-circle">
                            2
                        </div>
                    </a>
                    <div class="pre-text">
                        <p>Deploying Jupyter on OpenEBS</p>
                    </div>
                </div>

                <div class="pre-hangout">
                    <a href="/hangout/3" target="_blank">
                        <div class="pre-circle">
                            3
                        </div>
                    </a>
                    <div class="pre-text">
                        <p>Deploying OpenEBS on AWS</p>
                    </div>
                </div>

                <div class="pre-hangout">
                    <a href="/hangout/4" target="_blank">
                        <div class="pre-circle">
                            4
                        </div>
                    </a>
                    <div class="pre-text">
                        <p>Demo of cMotion</p>
                    </div>
                </div>

                <!-- <div class="pre-hangout">
                    <div class="pre-circle">
                        1
                    </div>
                    <div class="pre-text">
                        <p>Demo of cMotion</p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<script type="text/javascript">
    (function(a) {
        var b = a.onload,
            p = true;
        isCaptcha = false;
        if (p) {
            a.onload = "function" != typeof b ? function() {
                try {
                    _agile_load_form_fields()
                } catch (a) {}
            } : function() {
                b();
                try {
                    _agile_load_form_fields()
                } catch (a) {}
            }
        };
        var formLen = document.forms.length;
        for (i = 0; i < formLen; i++) {
            if (document.forms.item(i).getAttribute("id") == "agile-form") {
                a.document.forms.item(i).onsubmit = function(a) {
                    a.preventDefault();
                    try {
                        _agile_synch_form_v5(this)
                    } catch (b) {
                        this.submit()
                    }
                }
            }
        }
    })(window);
</script>